.about-page {
    background-image: url(../../assets/images/light-shape2.png);
    background-size: 60%; /* Set background image size */
    background-position: left; /* Set background image position */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    color: black;
    width: 100%;
    height: 40%;
      /* This will not have any effect */
    height: 100vh;
    padding: 100px 0 80px;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 50%;
}



/* AboutHeadArea.css */

.overlay-text {
    font-size: 124px;
    font-weight: 400;
    line-height: 120px;
    font-family: var(--supercomic);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(43, 43, 43, 0.45);
    color: transparent;
    position: absolute;
    top: -18px;
    left: 0;
    right: 0;
    /* animation: bounce 2s infinite alternate; */
}
.overlay-text span {
    animation: bounce 1s infinite;
    display: inline-block;
}

.overlay-text span:nth-child(2) {
    animation-delay: .05s;
}

.overlay-text span:nth-child(3) {
    animation-delay: .1s;
}

.overlay-text span:nth-child(4) {
    animation-delay: .15s;
}

.overlay-text span:nth-child(5) {
    animation-delay: .2s;
}

.overlay-text span:nth-child(6) {
    animation-delay: .25s;
}

.overlay-text span:nth-child(7) {
    animation-delay: .3s;
}

.overlay-text span:nth-child(8) {
    animation-delay: .35s;
}

@keyframes bounce {

    0%,
    100% {
        transform: translate(0);
    }

    25% {
        transform: rotateX(20deg) translateY(2px) rotate(-3deg);
    }

    50% {
        transform: translateY(-20px) rotate(3deg) scale(1.02);
    }
}

.about-head-area {
    text-align: center;
    position: relative;
    margin-bottom: 45px;
    font-family: 'Super Comic', sans-serif;
}

.about-head-area h2 {
    font-size: 48px;
    line-height: normal;
    position: relative;
    z-index: 9;
    font-family: 'Super Comic', sans-serif;
}

.about-head-area p {
    line-height: 200%;
    position: relative;
    z-index: 9;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
